@CHARSET "UTF-8";

body{
	 background-image:url('../img/blueSky.jpg');
	 background-repeat:no-repeat; 
	 background-attachment:scroll;
}
span{
	font-size:20px;
}
#login{
	background:#8080ff;
	width:320px;
	height:220px;
	margin-top:200px;
}
